<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupiter Notebook on IBM Watson Studio

Zita Szanto (Internal Auditor)

_I became interested in data science when I could see as part of my job what insights data can give in internal controls and investigations_

### This code prints only the odd numbers between 0 and 20

In [9]:
numbers = range(20)
for number in numbers:
    if number % 2 == 1:
        print(number)
        number +=1

1
3
5
7
9
11
13
15
17
19

| Month | Number of Days |
| ----- | -------------- |
| January | 31 |
| February | 28 |
| March | 31 |
| April | 30 |
| May | 31 |
| June | 30 |
| July | 31 |
| August | 31 |
| September | 30 |
| October | 31 |
| November | 30 |
| December | 31 |

***

Bulleted list:

- 1
- 2
- 3
- 4
- 5

***

Numbered list:

1. First
2. Second
3. Third
4. Fourth
5. Fifth

***

>This is a blocked quote